.footer {
  bottom: 0;
  height: 110px;
  width: 100%;
  padding: 12px 16px;
  font-size: 13px;
  color: darkgray;
  justify-content: center;
  text-align: center;
  position: relative;

  .footer-content {
    max-width: 960px;
    margin: 0 auto;
    white-space: break-spaces;
  }
}
