<div>
  <ng-container *ngIf="markdownContent; else loading">
    <div class="header">
      <button mat-button color="primary" routerLink="/dersler">
        <mat-icon>arrow_back</mat-icon>
        Geri Dön
      </button>

      <div class="reading-time-info" *ngIf="readingTime">
        {{ readingTime }} dakika
      </div>
    </div>

    <div class="content-display">
      <article>
        <markdown [data]="markdownContent"></markdown>
      </article>
    </div>

    <div class="mark-as-read-container">
      <button
        *ngIf="isRead"
        mat-stroked-button
        color="primary"
        (click)="toggleReadStatus()"
      >
        <mat-icon>remove_done</mat-icon>
        Okundu İşaretini Kaldır
      </button>

      <button
        *ngIf="!isRead"
        mat-raised-button
        color="primary"
        (click)="toggleReadStatus()"
      >
        <mat-icon>check_circle</mat-icon>
        Okundu Olarak İşaretle
      </button>
    </div>

    <mat-divider
      *ngIf="previousLesson || nextLesson"
      class="nav-divider"
    ></mat-divider>

    <div class="lesson-navigation">
      <button
        mat-stroked-button
        color="primary"
        *ngIf="previousLesson"
        [routerLink]="['/ders', previousLesson.slug]"
      >
        <mat-icon>chevron_left</mat-icon>
        {{ previousLesson.title }}
      </button>

      <span class="nav-spacer"></span>

      <button
        mat-stroked-button
        color="primary"
        *ngIf="nextLesson"
        [routerLink]="['/ders', nextLesson.slug]"
      >
        {{ nextLesson.title }}
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <div class="loading-text">İçerik yükleniyor...</div>
</ng-template>
